main{
    width: 1200px;
    margin: 0 auto;
    height: auto;
}


/* 리뷰 게시판 제목 */
h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 70px;
}

/* 리뷰 게시글 영역 */
.h-list{
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid lightgray;
    

    /* background-color: bisque; */
}

.h-listImg{
    width: 250px;
    height: auto;
}

.pagination{
    background-color: aqua;
    height: 100px;
}
