main{
    width: 1200px;
    margin: 0 auto;
    height: auto;
}


/* 게시글 제목 */
h1{
    font-weight: 1000;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 10px;
}

/* 게시글 작성자 프로필 영역 */
.h-topArea{
    display: flex;
    align-items: center;

    border-top: 1px solid #ccc;

}

.h-topArea > div:first-child{
    display: flex;
    /* background-color: rgb(241, 248, 255, 0.7);
    box-shadow: 0px 4px 8px rgb(0,30,60);
    border-radius: 15px; */
    padding: 10px;
    margin-top: 20px;
    
}
.profile-img{
    width: 100px;
    height: 100px;
}

.h-topArea p:first-child{

    font-size: 20px;
    color: gray;
}

/* 프로필 이미지  */
.h-profileImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.first{
    padding-left: 10px;
}

.first > div:last-child{

    padding-top: 20px;
}
/* 수정 버튼 */
#h-updateBtn{
    margin-right: 10px;

    width: 100px;
    height: 30px;
    font-size: 15px;

    font-weight: bold;
    border: 1px solid rgb(0,30,60);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(0,30,60);
    transition: all 0.5s;
}

#h-updateBtn:hover{
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(0,30,60);
    cursor: pointer;
    background-color: rgb(0,30,60);
    color: white;
    
}

/* 삭제 버튼 */
#h-deleteBtn{
    width: 100px;
    height: 30px;
    font-size: 15px;

    border: 1px solid rgb(0,30,60);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(0,30,60);
    transition: all 0.5s;
    font-weight: bold;
}

#h-deleteBtn:hover{
    border-radius: 5px;
    border: 1px solid rgb(0,30,60);
    cursor: pointer;
    background-color: rgb(0,30,60);
    color: white;
    font-weight: bold;
}

/* 내용 이미지 영역 */
.h-imgArea{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.h-imgArea > img{
    width:400px;
}

/* 내용 영역 */
.h-contentArea{
    
    width: 100%;
    height: 300px;
    resize: none;
    font-size: 18px;
    border: none;
    margin-top: 100px;
    line-height: 30px;
}



/* 목록으로 버튼 영역 */
.h-backListBtnArea{

    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-top: 20px
}

/* 목록으로 버튼 */
#h-backListBtn{

    width: 100px;
    height: 30px;
    font-size: 15px;

    border: 1px solid rgb(0,30,60);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(0,30,60);
    transition: all 0.5s;
    font-weight: bold;
    margin-left: 10px;

}

#h-backListBtn:hover{

    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(0,30,60);
    cursor: pointer;
    background-color: rgb(0,30,60);
    color: white;
    font-weight: bold;
}

/* 댓글 영역 */
.h-replyArea{
    display: flex;
    border-top: 1px solid #999;
    padding-top: 70px;

}

#h-replyProfile{
    width: 50px;
    height: auto;
    padding-right: 20px;
}

.h-replyArea small{
    padding: 10px;
}

.h-replyArea p{
    padding: 10px;
}

/* 댓글 버튼 영역 */

.h-replyBtnArea{
    display: flex;
    justify-content: end;
    padding-bottom: 50px;
}
/* 수정 버튼 */
#h-replyUpdateBtn{
    width: 70px;
    height: 30px;
    margin-right: 10px;

    font-weight: bold;
    border: 1px solid rgb(0,30,60);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(0,30,60);
    transition: all 0.5s;
}

#h-replyUpdateBtn:hover{

    width: 70px;
    height: 30px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(0,30,60);
    cursor: pointer;
    background-color: rgb(0,30,60);
    color: white;
    
}

/* 삭제 버튼 */
#h-replyDeleteBtn{
    width: 70px;
    height: 30px;
    border: 1px solid rgb(0,30,60);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(0,30,60);
    transition: all 0.5s;
    font-weight: bold;
}

#h-replyDeleteBtn:hover{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0,30,60);
    cursor: pointer;
    background-color: rgb(0,30,60);
    color: white;
    font-weight: bold;
}

/* 댓글 작성 영역 */
.h-replyWriter{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;
}

.h-replyWriter div:nth-child(2){
    padding-left: 10px;
    margin-bottom: 3px;
}

#h-replyTextarea{
    resize: none;
}

#h-replyBtn{
    border: none;
    background-color: lightgray;

    width: 100px;
    height: 80px;

    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* 푸터 영역 */
footer{
    background-color: antiquewhite;
    height: 200px;
}

