* {
    box-sizing: border-box;
    font-family:'pretendard';
}



.head{
    width:1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 30, 60);
    border-bottom: 2px solid rgb(0, 30, 60);
    padding-bottom: 17px;
    transition: all 2s ease; 
}



.head a{
    text-decoration: none;
    color: rgb(0, 30, 60);
}

/* 헤더 로고 */
.headerLogo{
    width: 130px;
    height: auto;
}

/* 헤더 텍스트 부분 */
.menu{
    margin-top: 50px;
    width: 500px;
    display: block;
    justify-content: space-between;
}

/* 로그인 / 회원가입 */
.menu-1{
    display: flex;
    justify-content: flex-end;
}

.menu-1 a:last-child{
    padding-left: 25px;
}

.menu-1 span:nth-child(2){
    color: lightgray;
    padding-left: 25px;
}

/* 상단 메뉴 */
.menu-3{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}