* {
    box-sizing: border-box;
    font-family:'pretendard';
}

.headMainLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.head{
    width:1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 30, 60);
    /* border-bottom: 2px solid rgb(0, 30, 60); */
    padding-bottom: 7px; 
    transition: all 2s ease; 
}



.menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 30, 60);
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease; /* 모든 속성에 대한 0.3초 동안의 전환 효과 설정 */
}

.menu a:hover {
    color: #fff;
    background-color: rgb(0, 30, 60);
    transform: scale(1.1); /* 확대 효과 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}


/* 헤더 로고 */
.headerLogo{
    width: 120px;
    height: auto;
}

/* 헤더 텍스트 부분 */
.menu{
    margin-top: 50px;
    width: 500px;
    display: block;
    justify-content: space-between;
}

/* 로그인 / 회원가입 */
.menu-1{
    display: flex;
    justify-content: flex-end;
}

.menu-1 a:last-child{
    padding-left: 25px;
}

.menu-1 span:nth-child(2){
    color: lightgray;
    padding-left: 25px;
}

/* 상단 메뉴 */
.menu-3{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}