* {
    box-sizing: border-box;
    font-family:'pretendard';
}


.headArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 30, 60);
    margin: 0 auto;
    position: sticky;
    padding-top: 71px;
    top: -71px;
    background-color: white;
    border-bottom: 2px solid rgb(0, 30, 60);
    z-index: 100;
    transition: all 2s ease; 
    display: none;

}

.logoArea{

    margin-left: 50px;
}

.head a{
    text-decoration: none;
    color: rgb(0, 30, 60);
}

/* 헤더 로고 */
.headerLogo{
    width: 150px;
    height: auto;
}

/* 헤더 텍스트 부분 */
.menuArea{
    width: 600px;
    display: block;
    justify-content: end;
    margin-right: 30px;
}

/* 상단 메뉴 */
.menu-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    line-height: 50px;
    margin-right: 100px;
    position: relative;
}

.menu-2 > img {
    width: 50px;
    height: auto;
    position: relative;
    bottom: 7px;
    cursor: pointer;
}