* {
    box-sizing: border-box;
    font-family:'Montserrat','pretendard';
}



/* 컨텐츠 전체 */
.content {
    width: 1200px;
    height: 100%;
    margin: auto;
}

/* 멍메이트 글씨*/
.mungMate {
    display: flex;
    width: 1200px;
    height: 180px;
    flex-direction : column-reverse;
    padding-left: 120px;
    font-size: 25px;
}

/* 사진 */
.picture {
    display: flex;
    width: 1200px;
    height: 600px;
    justify-content: center;
}

.picture img {
    width: 570px;
    height: 570px;
    margin-top: -10px;
}

/* 소개글 전체 */
.PetSitterIntroduction{
    width: 1000px;
    height: 800px;
    border-bottom: 2px solid #ddd;
    margin: auto;
}

/* 소개글 내용 */
.PetSitterIntroduction pre {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* 펫시터 소개 전체 */
.PetsitterInformation{
    width: 1200px;
    height: 1200px;
}

/* 펫시터를 소개합니다 글자 */
.PetsitterInformation h1{
    padding : 30px  90px;
}


/* 펫시터 소개란 첫번쨰 행 */
.row1 {
    display: flex;
justify-content: space-evenly;
 width: 1200px;
 height: 400px;
 
 
}

/* 소개란 1개 */
.row1 div{
    width: 300px;
    height: 400px;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid #ddd;
    cursor: pointer;
}


.row1 div:hover{
    border: 1px solid rgb(255, 175, 175);
}

/* 펫시터 소개란 두번쨰 행 */
.row2 {
display: flex;
justify-content:space-evenly;
 width: 1200px;
 height: 400px;
 margin-top: 70px;
}

/* 소개란 1개  */
.row2 div{
    width: 300px;
    height: 400px;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid #ddd;
    cursor: pointer;
}

.row2 div:hover{
    border: 1px solid rgb(255, 175, 175);
}

/*  펫시터 정보 */
.petSitterInfo{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

/* 펫시터 얼굴 사진 */
.petSitterInfo img {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 0;
}

.petSitterInfo span {
    padding-left: 20px;
}



