*{
    box-sizing: border-box;
}

div{
    border: 1px solid black;
}

.fade-in {
    width: 25%;
    height: 100%;

    opacity: 0;
    transition: opacity 3s ease-in;
}

.fade-in.active { /* 생기는 효과 */
    opacity: 1; /* 투명도 */
    transition: opacity 3.0s ease-in; /* 생기는 시간 */
}

.fade-in-2 {
    width: 25%;
    height: 100%;

    opacity: 0;
    transition: opacity 3s ease-in;
}

.fade-in-2.active { /* 생기는 효과 */
    opacity: 1; /* 투명도 */
    transition: opacity 3.0s ease-in; /* 생기는 시간 */
}

.mainContainer1{
    width: 100%;
    height: 500px;
}

.mainContainer2 { /* 메인 컨텐츠 영역 */

	width: 100%;
    min-width: 1300px;
    height: 200px;
    display: flex;
}

.mainContainer3 { /* 메인 컨텐츠 영역 */

	width: 100%;
    min-width: 1300px;
    height: 200px;
    display: flex;
}

.imgArea{ /* 이미지 영역 */
    border: 1px solid black;
    width: 50%;
    height: 60%;
    border-radius: 100%;
    margin: auto;
}

.imgArea > img{ /* img태그 */
    width: 100%;
    height: 100%;
}

.fade-in > div:nth-child(2){ /* 타이틀 영역 */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.fade-in > div:nth-child(3){ /* 내용 영역 */
    text-align: center;
}

.fade-in-2 > div:nth-child(2){ /* 타이틀 영역 */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.fade-in-2 > div:nth-child(3){ /* 내용 영역 */
    text-align: center;
}
