
*{margin: 0;padding: 0;}li {list-style: none;}

#start{
    display: none;
}

.chatting-content{
    width: 478px;
}

#display-chatting {
    width: 478px;
    height: 500px;
    background-color: rgb(241, 248, 255, 0.7);
    list-style: none;
    overflow: auto;
    border: 1px solid rgb(0, 30, 60);
    border-right: none;
    border-bottom: none;
}

#input-area {
    width: 478px;
    height: 95px;
    border: 1px solid rgb(0, 30, 60);
    border-right: none;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-top: none;
}

#inputChatting {
    width: 90%;
    height: 32px;
    resize: none;
    outline: 0;
    border: none;
    line-height: 32px;
}

#inputChatting::placeholder {
    line-height: 32px;
}
#input-area div{
    width: 100px;
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.send {
    width: 80px;
    height: 50px;
    background-color: lightgray;
    font-weight: bold;
    color: white;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    
}
.sendBtn{
    color: white;
    background-color: rgb(0, 30, 60);
    border:rgb(0, 30, 60);
    transition: 0.3s;
}

.chat {
    display: inline-block;
    border-radius: 5px;
    margin: 3px 0;
    padding: 5px;
    word-break: break-all;
    white-space: pre-wrap;
}

.target-chat > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.chatDate {
    font-size: 9px;
    margin: 0 5px;
}
.my-chat {
    text-align: right;
    margin: 15px 15px 15px 0;
}

.my-chat > p {
    background-color: rgb(0,30,60);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    font-weight: bold;
    max-width: 400px;
    line-height: 2;
}
.target-chat {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 15px 0 15px 15px;
}

.target-chat p {
    max-width: 400px;
    line-height: 2;
    background-color: rgb(253, 249, 244);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#chattingBox{
    width: 478px;
    height: 768px;
    margin: 0 auto;
}
#chattingInfo{
    width: 478px;
    height: 70px;
    display: flex;
    background-color: beige;
    border-left: 1px solid black;
    border-right: none;
    border-top: 1px solid black;
    text-align: center;
}
#chattingStart{
    width: 110px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(0, 30, 60);
    color: white;
    cursor: pointer;
    margin: 0;
}
#lastMessage{
    width: 170px;
    border-left: 1px solid #999;
    height: 100%;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 0;
}

#div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 15px;
}
#div>span{
    margin: 0 30px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
}
#div p> span{
    display: inline-block;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#div p:nth-of-type(1){
    font-size: 15px;
    font-weight: bold;
}
#div p:nth-of-type(2){
    font-size: 20px;
    font-weight: bold;
    width: 180px;
}

.div1{
    transition: 3s;
}