<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdministratorMapper">

	<resultMap type="Member" id="member_rm">

		<!-- DB에 기본 키(PRIMARY KEY, 복합키면 여러개 작성) -->
		<id property="memberNo" column="MEMBER_NO" />

		<!-- DB에 일반 컬럼들 -->
		<result property="memberName" column="MEMBER_NM" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberAddress" column="MEMBER_ADDRESS" />
		<result property="sessionFlag" column="SECESSION_FL" />
		<result property="adminFlag" column="MEMBER_ADMIN" />
		<result property="petsitterFlag" column="MEMBER_PETSITTER" />
		<result property="profileImage" column="PROFILE_IMG" />
		<result property="enrollDate" column="ENROLL_DATE" />

	</resultMap>

	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	<select id="mungCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	<select id="petCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_PETSITTER = 'Y'
		AND SECESSION_FL = 'N'
	</select>
	<select id="commonCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE SECESSION_FL = 'N'
		AND MEMBER_PETSITTER != 'Y'
	</select>
	<select id="flagCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE SECESSION_FL ='Y'
	</select>
	
	
	<select id="selectManagementList" resultMap="member_rm">
		SELECT
		MEMBER_NO,MEMBER_EMAIL,MEMBER_NM,MEMBER_TEL,ENROLL_DATE,
		MEMBER_PETSITTER,SECESSION_FL FROM MEMBER
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<!-- 검색  -->
	<select id="getListCount_search" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		
		<if test='managementType == "전체"'>
			WHERE SECESSION_FL = 'N'
		</if>
		<choose>
			<when test='managementType == "일반회원"' >
				WHERE SECESSION_FL = 'N'
				AND MEMBER_PETSITTER ='N'
				AND 
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
			</when>
			<when test='managementType == "펫시터"'>
				WHERE MEMBER_PETSITTER ='Y'
				AND SECESSION_FL = 'N'
				AND 
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
			</when>
			<when test='managementType == "탈퇴대기"'>
				WHERE SECESSION_FL = 'Y'
				AND 
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
			</when>
		</choose>
	</select>
	
    <select id="selectManagementList_search" resultMap="member_rm">
		SELECT
		MEMBER_NO,MEMBER_EMAIL,MEMBER_NM,MEMBER_TEL,ENROLL_DATE,
		MEMBER_PETSITTER,SECESSION_FL FROM MEMBER
		<if test='managementType == "전체"'>
			WHERE
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
		</if>
		<choose>
			<when test='managementType == "일반회원"' >
				WHERE SECESSION_FL = 'N'
				AND MEMBER_PETSITTER ='N'
				AND 
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
			</when>
			<when test='managementType == "펫시터"'>
				WHERE MEMBER_PETSITTER ='Y'
				AND SECESSION_FL = 'N'
				AND 
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
			</when>
			<when test='managementType == "탈퇴대기"'>
				WHERE SECESSION_FL = 'Y'
				AND 
        (MEMBER_EMAIL LIKE '%${managementSearch}%' OR MEMBER_NM LIKE '%${managementSearch}%' OR MEMBER_TEL LIKE '%${managementSearch}%')
			</when>
		</choose>
		ORDER BY ENROLL_DATE DESC
	</select>
	

</mapper>
