<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liveMapper">

	<resultMap type="LocationService" id="LocationService_rm">
		<id property="rsNo" column="RS_NO" />
		<result property="lat" column="LAT" />
		<result property="lon" column="LON" />
	</resultMap>
	
	<resultMap type="Pet2" id="Pet_rm">
		<id property="petNo" column="PET_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="petName" column="PET_NM" />
		<result property="petType" column="PET_TYPE" />
		<result property="petBirth" column="PET_BIRTH" />
		<result property="petGender" column="PET_GENDER" />
		<result property="petProfile" column="PET_PROFILE" />
		<result property="petOption" column="PET_OPTION" />
	</resultMap>
	
	<resultMap type="LiveCard" id="LiveCard_rm">
		<id property="liveNo" column="LIVE_NO" />
		<result property="liveImage" column="LIVE_IMAGE" />
		<result property="liveContent" column="LIVE_CONTENT" />
		<result property="rsNo" column="RS_NO" />
		<result property="startTime" column="START_TIME" />
		<result property="endTime" column="END_TIME" />
	</resultMap>
	
	<resultMap type="LiveCardImage" id="LiveCardImage_rm">
		<id property="imageNo" column="IMG_NO" />
		<result property="imagePath" column="IMG_PATH" />
		<result property="imageReName" column="IMG_RENAME" />
		<result property="imageOriginal" column="IMG_ORIGINAL" />
		<result property="imageOrder" column="IMG_ORDER" />
		<result property="liveNo" column="LIVE_NO" />
	</resultMap>
	
	<insert id="insertLocation">
		INSERT INTO LOCATION_SERVICE VALUES(#{rsNo}, #{lat}, #{lon})
	</insert>
	
	<select id="selectLocation" resultMap="LocationService_rm">
		SELECT * FROM LOCATION_SERVICE WHERE RS_NO = #{rsNo}
	</select>
	
	<select id="selectPetImage" resultMap="Pet_rm">
		SELECT PET_NO, PET_NM, PET_TYPE, PET_BIRTH, PET_GENDER, PET_PROFILE, PET_OPTION
		FROM PET
		JOIN RESERVATION_PET USING(PET_NO)
		WHERE RS_NO = ${rsNo}
	</select>
	
	<insert id="insertLiveCard" parameterType="LiveCard" useGeneratedKeys="true">
	
		<selectKey order="BEFORE" resultType="_int" keyProperty="liveNo">
			SELECT SEQ_LIVE_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO LIVE_CARD VALUES(#{liveNo}, #{liveContent}, #{startTime}, #{endTime}, #{rsNo})
	</insert>
	
	<insert id="insertImageList" parameterType="list">
		INSERT INTO LIVE_CARD_IMAGE
		SELECT SEQ_LIVE_IMG_NO.NEXTVAL, A.*
		FROM(
		
			<foreach collection="list" item="img" separator=" UNION ALL ">
				SELECT #{img.imagePath} IMG_PATH, 
					#{img.imageReName} IMG_RENAME,
					#{img.imageOriginal} IMG_ORIGINAL,
					#{img.imageOrder} IMG_ORDER,
					#{img.liveNo} LIVE_NO
				FROM DUAL
			</foreach>
		
			) A
	</insert>
	
	<update id="updateServiceState">
		UPDATE RESERVATION SET
		SERVICE_ST = 'Y'
		WHERE RS_NO = ${rsNo}
	</update>
	
	<select id="serviceCheck" resultType="string">
		SELECT SERVICE_ST FROM RESERVATION
		WHERE RS_NO = #{rsNo}
	</select>
	
	<update id="startService">
		UPDATE RESERVATION SET
		SERVICE_ST = 'ING'
		WHERE RS_NO = ${rsNo}
	</update>
</mapper>