<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

</head>
<body>

    <button id="kakaoPay">결제하기</button>


    <script>
       const kakaoPay = document.getElementById("kakaoPay");

       if(kakaoPay != null){

           kakaoPay.addEventListener("click", function(){
            
                fetch('/pay/kakaoPay',{
                    method:'POST',
                    headers:{"Content-Type" : "application/json"}
                })
                .then(resp => resp.json())
                .then(data => {})
                .catch(error => {
                    console.log(error);
                })
           });

       }

    </script>
</body>
</html>