*{
    box-sizing: border-box;
}

.display{
    display: none;
}

.totalContainer{ /* 페이지 전체 div */
    width: 100%;
    min-width: 1500px;
    height: 750px;
}

.headerContainer{ /* 헤더부분 전체 div */
    width: 100%;
    min-width: 800px;
    height: 10%;
    display: flex;
}

.navContainer{ /* nav부분 전체 div */
    width: 100%;
    height: 5%;
    display: flex;
    min-width: 800px;
}

.bodyContainer{/* 바디부분 전체 div */
    width: 100%;
    height: 60%;

}

.contentContainer{ /* 바디 컨텐츠 부분 */
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer > div:nth-child(1){/* 로그인 오른쪽 공백 */
    height: 100%;
    width: 20%;
}

.contentContainer > div:nth-child(2){/* 로그인 부분 전체 div */
    width: 60%;
    height: 80%;
    background-color: rgb(255, 175, 175);
    ;
}

.contentContainer div{
    padding: 5px;
}
.loginNonepart{ /* 비밀번호 변경 공백 파트 */
    height: 80px;
}

.InputNewpasswordArea{/* 새 비밀번호 글씨 + 입력창 */
    display: flex;
    justify-content: center;
}

.newPasswordPart{
    width: 133px;
}

#inputnewPassword{ /* 새 비밀번호 입력창 */
    width: 300px;
    height: 30px;
}

.InputPasswordArea{/* 비밀번호 확인 글씨 + 입력창 */
    display: flex;
    justify-content: center;
}

#inputPasswordcheck{/* 비밀번호 확인 입력창 */
    width: 300px;
    height: 30px;
}

.inputCheckArea{/* 정규식 부분ㄴ */
    display: flex;
    justify-content: center;
    height: 30px;    
}   

.changePwBtnArea{/* 비밀번호 변경 버튼 영역 */
    display: flex;
    justify-content: center;
    text-align: center;
}

#changePwBtn{ /* 비밀번호 변경 버튼 */
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(208, 53, 49);
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    margin: auto;
}

#changePwBtn:hover{ /* 비밀번호 변경 버튼 hover */
    background-color: white;
    color:rgb(208, 53, 49);
    border: 1px solid rgb(208, 53, 49);
}

.contentContainer > div:nth-child(3){/* 로그인 왼쪽 공백 */
    height: 100%;
    width: 20%;
}

.footerContainer{ /* 풋터부분 전체 div */
    width: 100%;
    height: 15%;
}


