* {
    box-sizing: border-box;
}

body{
    position: relative;
}

.confirm{
    color:green;
}

.error{
    color:red;
}

.totalContainer {
    /* 페이지 전체 div */
    width: 100%;
    min-width: 1500px;
    height: 750px;
}

.headerContainer {
    /* 헤더부분 전체 div */
    width: 100%;
    min-width: 800px;
    height: 10%;
    display: flex;
}

.navContainer {
    /* nav부분 전체 div */
    width: 100%;
    height: 5%;
    display: flex;
    min-width: 800px;
}

.bodyContainer {
    /* 바디부분 전체 div */
    width: 100%;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.contentContainer {
    /* 바디 컨텐츠 부분 */
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer>div:nth-child(1) {
    /* 로그인 오른쪽 공백 */
    height: 100%;
    width: 20%;
}

.contentContainer>div:nth-child(2) {
    /* 로그인 부분 전체 div */
    width: 60%;
    height: 80%;
    
    border: 3px solid rgb(0,30,60);
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.20);
}

.contentContainer div {
    padding: 5px;
}

.loginNonepart {
    /* 로그인 공백 파트 */
    height: 80px;
}

.InputEmailArea {
    /* 이메일 이미지 + 입력창 */
    display: flex;
    justify-content: center;
}

.emailImg {
    /* 이메일 이미지 */
    width: 30px;
    height: 100%;
}

#inputEmail {
    /* 이메일 입력창 */
    width: 300px;
    height: 30px;
}

.InputPasswordArea {
    /* 비밀번호 이미지 + 입력창 */
    display: flex;
    justify-content: center;
}

.passwordImg {
    /* 비밀번호 이미지 */
    width: 30px;
    height: 100%;
}

#inputPassword {
    /* 비밀번호 입력창 */
    width: 300px;
    height: 30px;
}

.checkboxArea {
    /* 체크박스 + 아이디 비밀번호 찾기 */
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

#saveId{ /* 아이디 저장 체크박스 */
    cursor: pointer;
}

/* 초기 상태 (focus 전) */
input {
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none; /* 기본 outline 제거 */
    transition: outline-color 0.3s ease, outline-offset 0.3s ease;
}

/* focus 상태 (outline 색상 및 offset 변경) */
input:focus {
    outline: none !important; border-color: rgb(0,30,60); box-shadow: 0 0 10px rgb(0,30,60);
}

label{ /* 아이디 저장 글씨 */
    cursor: pointer;
}

.checkboxArea button {
    /* 이메일 찾기 + 비밀번호 찾기 a태그*/
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    border: none;
    background-color: white;
    cursor: pointer;
}

.checkboxArea button:hover{
    color : rgb(0,30,60);
}

.loginBtnArea {
    /* 로그인 버튼 영역 */
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

#loginBtn {
    /* 로그인 버튼 */
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(0,30,60);
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    padding: 17px 60px;
    margin-left: 180px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    width: 340px;
}

#loginBtn span {
    /* 로그인 글씨 영역 */
    position: relative;
    z-index: 1;
}

#loginBtn:hover {
    color: white;
}


#loginBtn:after {
    /* 로그인 버튼 효과 */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 950%;
    width: 140%;
    background: rgb(0,30,60);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}


#loginBtn:hover:after {
    /* 로그인 버튼 호버 효과 */
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


.siguUpArea {
    /* 회원가입 영역 */
    display: flex;
    justify-content: center;

}

.siguUpArea>div:nth-child(1) {
    /* 혹시 회원이 아니신가요? + 회원가입 a태그 */
    width: 250px;
    text-align: center;
}

.siguUpArea a {
    /* 회원가입 a태그 */
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.siguUpArea a:hover{
    color: rgb(0,30,60);
}

.checkboxArea>div:nth-child(2) {
    /* 체크박스 공백부분 */
    width: 50px;
}

.checkboxArea>div:nth-child(3){
    display: flex;
}
.contentContainer>div:nth-child(3) {
    /* 로그인 왼쪽 공백 */
    height: 100%;
    width: 20%;
}

.footerContainer {
    /* 풋터부분 전체 div */
    width: 100%;
    height: 15%;
}


/* ---------------------------------------------------------------------------------- */
/* 이메일 찾기 영역 */

.findprofileArea {
    /* 찾기 영역 전체 */
    position: relative;

}

.profileCheck {
    /* 찾기 영역 content 부분 */
    z-index: 100;
    width: 500px;
    height: 550px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.20);
}

.findContentArea {
    /* 찾기 영역 내부 부분 */
    width: 80%;
    height: 100%;
    margin: auto;
}

.profileCheck>div:nth-child(1) {
    /* 아이디/비밀번호 찾기 글씨 영역 */
    width: 80%;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-right: 100px;
    font-size: 25px;
    font-weight: bold;

}

.profileCheck>div:nth-child(2) {
    /* 인증된 이메일만 정보 찾기가 가능합니다 글씨 영역 */
    width: 80%;
    height: 50px;
    padding-left: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCheck>div:nth-child(3) {
    /* 아이디 찾기 비밀번호 찾기 checkbox 부분 */
    width: 67%;
    height: 50px;
    border-top: 1px solid #ddd;
    padding-right: 60px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

#searchPassword {
    /* 비밀번호 찾기 checkbox */
    margin-left: 50px;
}

.profileCheck>div:nth-child(4) {
    /* 이름 글씨 부분 */
    width: 80%;
    height: 30px;
    margin: auto;
    padding-left: 35px;
}

.profileCheck>div:nth-child(5) {
    /* 이름 input태그 영역 */
    width: 67%;
    height: 35px;

    margin: auto;
}

#searchInputName {
    /* 이름 input태그 */
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

.profileCheck>div:nth-child(6) {
    /* 휴대전화번호 글씨 부분 */
    width: 80%;
    height: 30px;
    margin: auto;
    padding-left: 35px;
    padding-top: 15px;
}

.profileCheck>div:nth-child(7) {
    /* 휴대전화번호 input태그 영역 */
    width: 67%;
    height: 45px;
    padding-top: 10px;

    margin: auto;
}

#searchInputPhone {
    /* 휴대전화번호 input태그 */
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

.profileCheck>div:nth-child(8) {
    /* 확인버튼 영역 */
    width: 67%;
    height: 70px;
    margin: auto;

    padding-top: 20px;
}

.loginPageBtn{ /* 로그인, 이메일 비밀번호 찾기 확인, 취소 버튼들 */
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(0,30,60);
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.loginPageBtn span{
    position: relative;
    z-index: 1;
}

.loginPageBtn:after {
    /* 로그인 버튼 효과 */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1000%;
    width: 140%;
    background: rgb(0,30,60);
    -webkit-transition: all 1.5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    color: white;
    
}

.loginPageBtn:hover {
    color: white;
}

.loginPageBtn:hover:after {
    /* 로그인 버튼 호버 효과 */
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    
}

#searchYesBtn {
    /* 확인 버튼 */
    width: 100%;
    height: 100%;
}

#searchYesBtn1 {
    /* 확인 버튼 */
    width: 100%;
    height: 100%;
}

.profileCheck>div:nth-child(9) {
    /* 취소 버튼 영역 */
    width: 67%;
    height: 70px;
    margin: auto;

    padding-top: 20px;
}


#searchNoBtn {
    /* 취소 버튼 */
    width: 100%;
    height: 100%;
}

#searchNoBtn2 {
    /* 취소 버튼 */
    width: 100%;
    height: 100%;
}


/*---------------------------------------------------------------------------*/
/*비밀번호 찾기 영역*/

#searchInputEmail {
    /* 이메일 입력란 */
    width: 60%;
    height: 100%;
}

#emailCheck {
    /* 인증번호 전송버튼 */
    width: 35%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgb(0,30,60);
    color:rgb(0,30,60);;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#emailCheck:hover{
    background-color:  rgb(0,30,60);;
    color: white;
}

.checkNumberArea {
    /*  */
    width: 100%;
    height: 100%;
}

.emailAPITime {
    /* 인증번호 시간부분 */
    padding-bottom: 30px;
}

.profilePasswordCheck {
    /* 비밀번호 찾기 영역 content 부분 */
    z-index: 100;
    width: 500px;
    height: 550px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.20);


}


#checkclear {
    /* 인증버튼 */
    width: 35%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgb(0,30,60);
    color:rgb(0,30,60);;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#checkclear:hover{
    background-color:  rgb(0,30,60);;
    color: white;
}


.profilePasswordCheck>div:nth-child(1) {
    /* 아이디/비밀번호 찾기 글씨 영역 */
    width: 80%;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-right: 100px;
    font-size: 25px;
    font-weight: bold;

}

.profilePasswordCheck>div:nth-child(2) {
    /* 인증된 이메일만 정보 찾기가 가능합니다 글씨 영역 */
    width: 80%;
    height: 50px;
    padding-left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePasswordCheck>div:nth-child(3) {
    /* 아이디 찾기 비밀번호 찾기 checkbox 부분 */
    width: 67%;
    height: 50px;
    border-top: 1px solid #ddd;
    padding-right: 60px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.profilePasswordCheck>div:nth-child(4) {
    /* 이메일 글씨 부분 */
    width: 80%;
    height: 30px;
    margin: auto;
    padding-left: 35px;
}

.profilePasswordCheck>div:nth-child(5) {
    /* 이메일 input태그 영역 */
    width: 67%;
    height: 35px;

    margin: auto;
}

.profilePasswordCheck>div:nth-child(6) {
    /* 인증번호 시간 글씨 부분 */
    width: 80%;
    height: 30px;
    margin: auto;
    padding-left: 35px;
    padding-top: 5px;
}

.profilePasswordCheck>div:nth-child(7) {
    /* 인증번호글씨 영역 */
    width: 67%;
    height: 45px;
    padding-top: 10px;

    margin: auto;
}

.profilePasswordCheck>div:nth-child(8) {
    /* 인증번호 input 영역 */
    width: 67%;
    height: 40px;
    margin: auto;
}

#inputCheckNumber {
    /* 인증번호 입력 input */
    width: 60%;
    height: 70%;

    border-radius: 5px;

}

.profilePasswordCheck>div:nth-child(9) {
    /* 확인 버튼 영역 */
    width: 67%;
    height: 70px;
    margin: auto;

    padding: 10px 0;

}

.profilePasswordCheck>div:nth-child(10) {
    /* 취소 버튼 영역 */
    width: 67%;
    height: 70px;
    margin: auto;

    padding: 10px 0;

}

[type="radio"], span {
    vertical-align: middle;
}

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.50em;
    height: 1.25em;
    transition: border 0.3s ease-in-out;
}

[type="radio"]:checked {
    border: 0.4em solid rgb(0,30,60);;
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.3em);
    outline: max(2px, 0.2em) dotted rgb(0,30,60);;
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.3em) rgb(0,30,60);;
    cursor: pointer;
}

[type="radio"]:hover + span {
    cursor: pointer;
}

[type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

.searchEmail{
    font-size: 14px;
}

.searchPassword{
    font-size: 14px;
}





.modal{
    background-color: rgba(0,0,0,0.4);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 50;

    display: none;
}

.modal.show{ /* 클래스로 modal, show를 동시에 가진 요소 선택 */
    display: flex;

    animation-name : show; /* @keyframes show 적용 */
    animation-duration : 0.5s; /* 애니메이션 수행 시간 */
}


.modal.hide{
    animation-name : hide; /* @keyframes show 적용 */
    animation-duration : 0.5s; /* 애니메이션 수행 시간 */
}

#modal-image {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}


/* 닫기 버튼 */
#modal-close {
    position: absolute;
    top: 20px;
    right: 40px;

    color: white;
    font-size: 50px;
    font-weight: bold;

    transition-duration: 0.2s;
    cursor: pointer;
}

#modal-close:hover{
    transform: scale(1.2);
}

/* @keyframes : 
애니메이션 중간중간의 특정 지점들을 거칠 수 있는 키프레임들을 설정함으로써
CSS 애니메이션 과정의 중간 절차를 제어할 수 있게 합니다.  */
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}


