

*{

    box-sizing: border-box;
}

/* div{
    border: 1px solid black;
} */

body{
    position: relative;
}

.display{
    display: none;
}

.error{
    color: red;
}

.confirm{
    color: green;
}

.totalContainer{ /* 페이지 전체 div */
    width: 100%;
    min-width: 1500px;
    height: 100%;
}

.headerContainer{ /* 헤더부분 전체 div */
    width: 100%;
    min-width: 800px;
    height: 5%;
    display: flex;
}

.bodyContainer{/* 바디부분 전체 div */
    width: 100%;
    height: 100%;
}

.contentContainer{ /* 바디 컨텐츠 부분 */
    width: 1200px;
    height: 100%;
    display: flex;
    margin: auto;
    padding-top: 50px;

    flex-direction: column;
    align-items: center;
}

.signUpTitle{/* 회원가입 타이틀 영역 */
    width: 100%;
    height: 100px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;
    background-color: rgb(0, 30, 60);
    color: white;
    border-radius: 50px;

}


/* ---------------------------------------------------------- */

.signUpName{/* 회원가입 이름 영역 */
    width: 70%;
    height: 50px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpName > div:nth-child(1) { /* 이름 타이틀 */
    padding-right: 470px;
    height: 30px;
    color: #aaa;
    margin: 10px;
}

#signUpInputName{ /* 이름 input */
    width: 60%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ddd;
   
}

/* 초기 상태 (focus 전) */
input {
    outline: none; /* 기본 outline 제거 */
    transition: outline-color 0.3s ease, outline-offset 0.3s ease;
}

/* focus 상태 (outline 색상 및 offset 변경) */
input:focus {
    outline: none !important; border-color: rgb(0, 30, 60); box-shadow: 0 0 10px rgb(0, 30, 60);
}


/* ---------------------------------------------------------- */

.signUpNickname{/* 회원가입 닉네임 영역 */
    width: 70%;
    height: 50px;
    margin: 30px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpNickname > div:nth-child(1) { /* 닉네임 타이틀 */
    padding-right: 460px;
    color: #aaa;
    margin: 10px;
}

#signUpInputNickname{ /* 닉네임 input */
    width: 60%;
    height: 40px;

    border: none;
    border-bottom: 2px solid #ddd;
}

#nickMessage { /* 정규식 문구 부분 */
    font-size: 13px;
}


/* ---------------------------------------------------------- */

.signUpEmail{/* 회원가입 아이디(이메일) 영역 */
    width: 70%;
    height: 50px;
    margin: 30px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpEmail > div:nth-child(1) { /* 아이디(이메일) 타이틀 */
    padding-right: 400px;
    color: #aaa;
    margin: 10px;
}

.signUpEmail > div:nth-child(2) { /* 아이디(이메일) input + 버튼 영역 */
    height: 200px;
}

#emailMessage { /* 정규식 문구 부분 */
    margin-top: 10px;
    font-size: 13px;
}

#signUpInputEmail{ /* 아이디(이메일) input */
    width: 45%;
    border: none;
    border-bottom: 2px solid #ddd;
    height: 100%;
}

#emailCheck{ /* 이메일 인증번호 버튼 */
    width: 120px;
    height: 45px;

    border-radius: 20px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    
}

#emailCheck:hover{ /* 인증번호 전송 */
    background-color:  rgb(0, 30, 60);
    color: white;
}
/* ---------------------------------------------------------- */

.signUpEmailcheck{/* 인증번호 영역 */
    width: 70%;
    height: 50px;
    margin: 15px;
    margin-top: 50px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpEmailcheck > div:nth-child(1) { /* 인증번호 타이틀 */
    padding-right: 405px;
    color: #aaa;
    margin: 10px;
}

.signUpEmailcheck > div:nth-child(2) { /* 인증번호 input +  인증 버튼 영역 */
    height: 200px;
}


.signUpEmailcheck > div:nth-child(3) { /* 인증번호 시간 */
    margin-right: 450px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}

#authKeyMessage { /* 정규식 문구 부분 */
    margin-top: 30px;
    font-size: 13px;
}

#signUpInputEmailCheck{ /* 인증번호 input */
    width: 45%;
    border: none;
    border-bottom: 2px solid #ddd;
    height: 100%;
    margin-left: 5px;
}

#checkclear{ /* 이메일 인증번호 버튼 */
    width: 120px;
    height: 45px;

    border-radius: 20px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#checkclear:hover{ /* 인증버튼 hover */
    background-color:  rgb(0, 30, 60);
    color: white;
}



/* ---------------------------------------------------------- */

.signUpPassword{/* 회원가입 비밀번호 영역 */
    width: 70%;
    height: 50px;
    margin-top: 80px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpPassword > div:nth-child(1) { /* 비밀번호 타이틀 */
    padding-right: 440px;
    color: #aaa;
    margin: 10px;
}

#pwMessage1 { /* 정규식 문구 부분 */

    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
}

#signUpInputPassword{ /* 비밀번호 input */
    width: 60%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ddd;
}

/* ---------------------------------------------------------- */

.signUpPasswordCheck{/* 비밀번호 확인 영역 */
    width: 70%;
    height: 50px;
    margin: 30px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpPasswordCheck > div:nth-child(1) { /* 비밀번호 확인 타이틀 */
    padding-right: 410px;
    color: #aaa;
    margin: 10px;
}

#pwMessage2 { /* 정규식 문구 부분 */

    margin-bottom: 20px;
    font-size: 13px;
}


#signUpInputPasswordCheck{ /* 비밀번호 확인 input */
    width: 60%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ddd;
}

/* ---------------------------------------------------------- */

.signUpPhone{/* 전화번호 영역 */
    width: 70%;
    height: 50px;
    margin-bottom: 30px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpPhone > div:nth-child(1) { /* 전화번호 타이틀 */
    padding-right: 410px;
    color: #aaa;
    margin: 10px;
}

#signUpInputPhone{ /* 전화번호 input */
    width: 60%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ddd;
}

#telMessage { /* 정규식 문구 부분 */

    margin-bottom: 20px;
    font-size: 13px;
}



/* ---------------------------------------------------------- */

.signUpAddress{/* 회원가입 주소 영역 */
    width: 70%;
    height: 15%;
    margin: 30px;


    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpAddress > div:nth-child(1) { /* 주소 타이틀 */
    padding-right: 470px;
    color: #aaa;
    margin: 10px;
}

.signUpAddress > div:nth-child(2) { /* 주소 input + 버튼 영역 */
    height: 50px;
}
.signUpAddress > div:nth-child(3) { /* 주소 input*/
    margin: 10px;
    height: 50px;
}
.signUpAddress > div:nth-child(4) { /* 주소 input*/
    margin: 10px;
    height: 50px;
}

#signUpInputAddress{ /* 주소 input */
    width: 45%;
    border: none;
    border-bottom: 2px solid #ddd;
    height: 100%;
}

#AddressAPI{ /* 우편번호 찾기 버튼 */
    width: 120px;
    height: 45px;

    border-radius: 20px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#AddressAPI:hover{ /* 우편번호 찾기 버튼 */
    background-color:  rgb(0, 30, 60);
    color: white;
}

.signUpInputAddress{ /* 주소 input태그 */
    width: 61%;
    border: none;
    border-bottom: 2px solid #ddd;
    height: 100%;
    margin: 15px;
}
/* ---------------------------------------------------------- */

.agreeArea{ /* 약관동의 area */
    width: 61%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.agreeArea > div:nth-child(1){
    width: 47%;
}

.checkboxTitle{ /* 약관동의 타이틀 */
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    
}

.checkboxSlogan{ /* 약관동의 슬로건 */
    font-size: 12px;
    color: #ddd;
    margin: 10px 0;
}

.checkboxArea{ /* 체크박스 영역 */
    display: flex;
    margin-top: 10px;
}

.checkboxArea > div:nth-child(2){ /* 동의하지 않음 체크박스 */
    margin-left: 70px;
}

.checkBoxBtnArea{ /* 약관동의 버튼 영역 */
    margin-left: 70px;
}

.checkBoxBtnArea > button{ /* 약관 동의 버튼 */
    width: 90px;
    height: 40px;
    
    border-radius: 20px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.checkBoxBtnArea > button:hover{ /* 약관 동의 버튼 hover */
    background-color:  rgb(0, 30, 60);
    color: white;
}


/*------------------- input radio 효과 ------------------------------- */
[type="radio"], span {
    vertical-align: middle;
}

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.3s ease-in-out;
}

[type="radio"]:checked {
    border: 0.4em solid rgb(0, 30, 60);
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.3em);
    outline: max(2px, 0.2em) dotted rgb(0, 30, 60);
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.3em) rgb(0, 30, 60);
    cursor: pointer;
}

[type="radio"]:hover + span {
    cursor: pointer;
}

[type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}
/*------------------- input radio 효과 ------------------------------- */






/*-----------------------------------------------------------------*/

.signUpBtnArea{ /* 회원가입 버튼 영역 */
    width: 61%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

#signUpBtn{ /* 회원가입 버튼 */
    width: 70%;
    height: 50px;
    
    border-radius: 10px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

#signUpBtn:hover{ /* 회원가입 hover */
    background-color:  rgb(0, 30, 60);
    color: white;
}

.footerContainer{ /* 풋터부분 전체 div */
    width: 100%;
    height: 10%;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 600px;
    height: 400px;
    border-radius: 20px;
    
    background-color: white;
    border: 3px solid rgb(0,30,60); 
    

}

.modal_body1 > h1{
    font-size: 25px;
    margin-right: 190px;
    margin-bottom: 50px;

}

.modal_body1 > button{
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin-top: 30px;

}

.modal_body1 > textarea{
    font-size: mediums;
}

.modal_body1 > button:hover{
    background-color:  rgb(0, 30, 60);
    color: white;
}


.modal_body2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 600px;
    height: 400px;
    border-radius: 20px;
    
    background-color: white;
    border: 3px solid rgb(0,30,60); 
    
}

.modal_body2 > h1{
    font-size: 25px;
    margin-right: 190px;
    margin-bottom: 50px;

}

.modal_body2 > textarea{
    font-size: mediums;
}


.modal_body2 > button{
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 30, 60);
    color:rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin-top: 30px;

}



.modal_body2 > button:hover{
    background-color:  rgb(0, 30, 60);
    color: white;
}
