<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>

<body>

    <div class="header"></div>

    <div class="mainImage">
        <img src="../../resources/images/mainImage.jpg">
        <div class="mainImageIn">
            <h1>언제나 가까운 곳에서<br> 안심할 수 있게</h1>
            <button id="goReservation">예약하러 가기</button>
        </div>
    </div>

    <div></div>
    <div></div>
    <div></div>


</body>

</html>