<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/mainContent-2.css">
</head>
<body>
    <div class="mainContainer1"></div>
    <div class="mainContainer2">
        <div class="fade-in">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                24시간 가정 돌봄
            </div>
            <div>
                가족처럼 예쁨받는<br>
                가정돌봄 서비스
            </div>
        </div>
        <div class="fade-in">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>매일매일 산책하기</div>
            <div>
                스트레스 없는 생활 <br>
                우리 아이를 위한 선택
            </div>
        </div>
        <div class="fade-in">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>  
            <div>
                체계적 검증시스템
            </div>
            <div>
                꼼꼼하게 진행되는<br>
                펫시터 등록 프로세스
            </div>
        </div>
        <div class="fade-in">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                모바일에서도 원스톱
            </div>
            <div>
                예약부터 결제까지<br>
                간편하게 해결됩니다.
            </div>
        </div>
        <div class="fade-in">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                안전보장 프로그램
            </div>
            <div>
                예상 못한 사고의<br>
                대비 정책
            </div>
        </div>
    </div>
    <div class="mainContainer1"></div>
    <div class="mainContainer3">
        <div class="fade-in-2">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                찾아보세요
            </div>
            <div>
                장소, 환경, 프로필 등을 보시고 <br>
                알맞은 펫시터를 찾으세요.
            </div>
        </div>
        <div class="fade-in-2">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                예약하고 결제하세요
            </div>
            <div>
                예약을 전송하고 예약승인을 받은 후 <br>
                안전하게 결제하세요
            </div>
        </div>
        <div class="fade-in-2">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>  
            <div>
                사전만남 하세요
            </div>
            <div>
                돌봄시작 전 미리 만나서 펫시터와<br>
                 돌봄장소를 확인해 보세요
            </div>
        </div>
        <div class="fade-in-2">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                안심하세요
            </div>
            <div>
                돌봄이야기가 실시간 공유됩니다.<br>
                이웃의 펫시터가 돌봐드려요.
            </div>
        </div>
        <div class="fade-in-2">
            <div class="imgArea">
                <img src="../../resources/images/MungMateLogo.png">
            </div>
            <div>
                후기를 남겨 주세요
            </div>
            <div>
                돌봄 후 소중한 후기를 남겨주시면 <br>
                추가 포인트가 적립됩니다.
            </div>
        </div>
    </div>
    

    <script src="../../resources/js/mainContent-2.js"></script>
</body>
</html>