#liveCardSection {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid rgb(0,30,60);
}

#titleArea {
    width: 600px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleArea > img {
    margin-right: 50px;
    width: 100px;
    height: 100px;
}

#serviceName {
    width: 100%;
    margin: 40px auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#serviceName > div {
    margin: 0 30px;
}

#serviceName > div:nth-child(3) {
    margin-left: 100px;
}

#liveCardContent {
    width: 100%;
}

#liveCardContent > img {
    width: 500px;
    display: block;
    margin: 10px auto;
}

#liveCardContent > p {
    width: 900px;
    margin: 50px auto;
    font-size: 16px;
    word-break: break-all;
    white-space: pre-wrap;
}

#liveText {
    height: 40px;
    background-color: rgb(0,30,60);
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

#section {
    display: flex;
}

#section > section {
    height: 606px;
}

#left {
    width: 60%;
    height: 100%;
}

#right {
    width: 40%;
    height: 100%;
}

#map {
    width:100%;
    height:100%;
}

#stateArea {
    width: 100%;
    height: 106px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    bottom: 106px;
    display: flex;
}

#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profileDiv {
    width: 10%;
    padding-top: 15px;
}

#profileDiv > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileDiv span {
    font-size: 18px;
    font-weight: bold;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(253, 249, 244);
}

#petsitterText {
    width: 50%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconArea {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stateIcon {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(253, 249, 244);
    padding: 5px;
}

#stateTextArea {
    width: 30%;
}

#stateTextArea > div {
    width: 100%;
    height: 33.3%;
    display: flex;
}

.stateText {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ing {
    color: rgb(0,30,60);
    font-weight: bold;
}

#chattingArea {
    width: 100%;
    height: 500px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#inputArea {
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

#inputChatting {
    width: 90%;
    height: 32px;
    resize: none;
    outline: 0;
    border: none;
    line-height: 32px;
}

#inputChatting::placeholder {
    line-height: 32px;
}

#sendMsg {
    width: 10%;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

#chattingArea {
    padding: 10px 0;
    list-style: none;
    overflow: auto;
}

.chat {
    display: inline-block;
    border-radius: 5px;
    margin: 3px 0;
    padding: 5px;
    word-break: break-all;
    white-space: pre-wrap;
}

.opponentChat > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
}

.opponentChat {
    display: flex;
    align-items: flex-start;
}

.chatDate {
    font-size: 9px;
    margin: 0 5px;
}

.myChat {
    text-align: right;
}

.myChat > p {
    background-color: rgb(0,30,60);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    font-weight: bold;
}

.opponentChat {
    text-align: left;
    display: flex;
    align-items: center;
}

.opponentChat p {
    background-color: rgb(253, 249, 244);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li {
    list-style: none;
}