* {
    box-sizing: border-box;
}


/* 컨텐츠 */
.content {
    width: 1200px;
    height: 100%;
    margin: auto;
}

/* 회원 정보 제목 */
.infoTitle {
    display: flex;
    width: 1200px;
    height: 180px;
    flex-direction: column-reverse;
    font-size: 20px;
    border-bottom: 2px solid #ddd;
}

/* 프로필이랑 정보 들어가있는 칸 */
.memberInfo {
    display: flex;
    height: auto;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    align-items: center
}


/* 정보 칸 */
.info {
    height: 600px;
    width: 279px;
    font-size: 18px;
    padding-top: 66px;
    display: flex;
    flex-direction: column;
}

.info>div {
    box-shadow: 0px 2px 0px 0px lightgray;
    padding-top: 10px;
}

/* 프로필 이미지 */
.profile-image-area {
    width: 220px;
    height: 220px;
    border: 3px solid #ccc;
    border-radius: 50%;

    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

#profileImage {
    height: 100%;
}


/* 수정하기 버튼 */

.updateBtn {
    height: 100px;
    display: flex;
    justify-content: center;
}

.updateBtn > button {
    width: 200px;
    height: 44px;
    margin-right: 10px;
    border-style: none;
    background-color: white;
    color: rgb(0,30,60);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(0,30,60);
}


.updateBtn > button :hover {
    border: 2px solid rgb(0, 30, 60);
    background-color: white;
    color: rgb(0, 30, 60);
    border-radius: 10px;
    cursor: pointer;
}


.modal_body1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 600px;
    height: 400px;
    border-radius: 20px;

    background-color: white;
    border: 3px solid rgb(0, 30, 60);


}

/* 모달 전체 */
.modal {
    position: fixed;
    top: 26%;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;

    z-index: 50;
    display: none;
    border-radius: 30px;
    box-shadow: 0 0 20px 4px rgba(0, 220, 244, 0.1);

}


.modal_body1>h1 {
    font-size: 25px;
    margin-right: 190px;
    margin-bottom: 50px;

}

.modal_body1>button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(0, 30, 60);
    color: rgb(0, 30, 60);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin-top: 30px;

}

.modal_body1>textarea {
    font-size: mediums;
}

.modal_body1>button:hover {
    background-color: rgb(0, 30, 60);
    color: white;
}

.modal_body1 p {
    font-size: 20px;
}


#memberPw {
    width: 40%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 15px;

    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    /* 기본 outline 제거 */
    transition: outline-color 0.3s ease, outline-offset 0.3s ease;
}

/* focus 상태 (outline 색상 및 offset 변경) */
#memberPw:focus {
    outline: none !important;
    border-color: rgb(0, 30, 60);
    box-shadow: 0 0 10px rgb(0, 30, 60);
}