* {
    box-sizing: border-box;
}


/* 컨텐츠 */
.content {
    width: 1200px;
    height: 100%;
    margin: auto;
}

/* 회원 정보 제목 */
.infoTitle{
    display: flex;
    width: 1200px;
    height: 180px;
    flex-direction : column-reverse;
    font-size: 18px;
    border-bottom: 2px solid #ddd;
}

/* 프로필이랑 정보 들어가있는 칸 */
.memberInfo{
    display: flex;
    height: 1000px;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

/* 프로필 칸 */
.profileImage {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    height: auto;
    width: 610px;
    padding:60px;
    align-items: center;
    justify-content: center;

}

/* 정보 칸 */
.info{
    height: auto;
    width: 279px;
    font-size: 20px;
    display: flex;
    flex-direction: column;


}

/* 프로필 이미지 */
.profile-image-area{
    width: 220px;
    height: 220px;
    border: 3px solid #ccc;
    border-radius: 50%;

    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

#profileImage{
    height: 100%;
}

.email{
    display: flex;
}

#emailBtn {
    width: 70px;
    height: 35px;
    border-style: none;
    color: rgb(0,30,60);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid  rgb(0,30,60);
    background-color: white;
}

#emailBtn:hover {
    background-color: rgb(0,30,60);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


/* 수정하기 버튼 */

.updateBtn{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    
}

#imageInput{ display: none;}

.profile-btn-area{
    padding-top: 10px;
}

.profile-btn-area > *{
    width: 110px;
    height: 38px;
    padding: 8px 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 5px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-style: none;
    color: rgb(0,30,60);
    cursor: pointer;
    border: 2px solid rgb(0,30,60);
}



.infoUpdateBtn {
    width: 200px;
    height: 44px;
    margin-right: 10px;
    border-style: none;
    background-color: white;
    color: rgb(0,30,60);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid  rgb(0,30,60);
}

.infoUpdateBtn:hover {
   border: 2px solid  rgb(0,30,60);
    background-color: rgb(0,30,60);
    color:  white;
    border-radius: 10px;
    cursor: pointer;
}

.info input{
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    padding: 7px 7px;
}

.info input:focus {
    outline : none;
}

.address {
    display: flex;
    padding-top: 13px;
}

#addressBtn{
    width: 70px;
    height: 35px;
    margin-right: 70px;
    border-style: none;
    background-color: white;
    color: rgb(0,30,60);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid  rgb(0,30,60);
}

#addressBtn:hover {
    border: 2px solid  rgb(0,30,60);
    background-color: rgb(0,30,60);
    color:  white;
    border-radius: 10px;
    cursor: pointer;
}


#imagesChoice:hover{
    background-color: rgb(0,30,60);
    color: white;
}

#changeImage:hover{
    background-color: rgb(0,30,60);
    color: white;
}