@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body{font-family:/* 'Montserrat' */'pretendard';}

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;} a{text-decoration: none; color: inherit;} img{vertical-align: top;}
main{
    width: 1200px; 
    height: auto;
    margin: 75px auto;
    border: 3px solid rgb(0,30,60);
    border-top:0;
    
}
.titleBox{
    display: flex;
    width: 100%;
    height: 40px;
    background-color:rgb(0,30,60);
    align-items: center;
    justify-content: flex-end;
    color: white;
}
h2{
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 320px;
}
.pet-sitter{
    width: 1100px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.pet-sitterimg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pet-sitterimg img{
    width: 80%;
    height: 100%;
}
.pet-sitter-info{
    width: 50%;
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #eee;
    font-size: 18px;
}

form{
    width: 100%;
    margin: 0 auto;
}
textarea{
    width: 1100px;
    padding: 15px;
    resize: none;
    font-size: 16px;
    border : 3px solid #eee;
    margin-left: 50px;
}
form button{
    background-color: antiquewhite;
    width: 90px;
    height: 35px;
    line-height: 35px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1060px;
    margin-bottom : 15px;
}
form button:hover{
    background-color: rgb(255, 175, 175);
    color: rgb(208, 53, 49);
}
.selectBox {
    position: relative;
    width: 180px;
    height: 35px;
    border-radius: 4px;
    border: 3px solid lightcoral;
    margin-right: 2px;
}
.selectBox .select {
    width: 175px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3; 
    color: white;
    font-size: 16px;
}
.selectBox .select option {
    background: lightcoral;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
}
.selectBox .icoArrow {
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 1; 
    width: 18px; 
    height: 30px;
    border-left: 2px solid lightcoral;   
}