<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../../../resources/css/member/Login.css">
</head>
<body>
    <div class="totalContainer">
        <div class="headerContainer">
            <div></div>
            <div class="header-logo">
                <div class="logoPart">
                    <a href="" id="gotoHomeLogo">
                        <img src="../../../resources/images/MungMateLogo.png" alt="로고" id="homeLogo">
                    </a>
                </div>
            </div>
            <div class="header-btn">
                
            </div>
        </div>
        <div class="navContainer">
            <div>Info</div>
            <div>Matching</div>
            <div></div>
            <div>Community</div>
            <div>Guide</div>
        </div>
        <div class="bodyContainer"></div>
        <div class="footerContainer"></div>

    </div>
</body>
</html>